.data-image {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  margin: 20px;
  flex: auto;
  object-fit: cover;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.25);
}

p {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}
