.search-form {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
}

.search-form__input {
  width: 50%;
  height: 40px;
  border-radius: 11px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  padding: 0 10px;
}

.search-form__button {
  width: 30%;
  border-radius: 11px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  padding: 0 10px;
  margin-left: 5px;
}
