.data-image {
  width: 400px;
  border-radius: 30px;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  flex: auto;
}

p {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
